# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
/*/*.suo
_ReSharper.IREngineTestBed
# mstest test results
TestResults

#build output
IREngineTestBed/build

#.user files
*.user